<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.OrderMapper">
    <select id="getOrderByStatus" resultType="Order">
        select o.* from orders as o
        left join restaurants r on o.restaurant_id = r.id
        left join customers c on o.customer_id = c.id
        left join couriers co on o.courier_id = co.id
        where o.status = #{status}
        limit #{page}
    </select>

    <update id="updateOrderStatus" parameterType="ru.liga.entities.Order">
        update orders
        <set>
            <if test="status != null">
                descr = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="order" type="ru.liga.entities.Order">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>
</mapper>